<div class='container mt-3'>
  <h4>Add Menu Item</h4>
  <%= form_for @mi, url: menu_item_index_path, method: :post do |f| %>
    <div class='form-group'>
      <label>Item name</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <label>Price</label>
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <label>Average waiting time (minutes)</label>
      <%= f.number_field :waiting_time, min: '0' %>
    </div>

    <div class='form-group'>
      <label>Item Type</label>
      <%= f.select :type, options_for_select(@mi_types), class: 'form-control' %>
    </div>
    <tr>
      <th>Item type: </th>
      <td>
        <select name="iType">
          <option value="food">Food</option>
          <option value="drink">Drink</option>
          <option value="snack">Snack</option>
          <option value="combo">Combo</option>
          <option value="other">Other</option>
        </select>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <input type="checkbox" name="vegetarian" value="vegetarian">Vegetarian<br>
      </td>
    </tr>
  </table>
  <input type="submit">
  <% end %>
</div>
