<!-- Checkout Container -->
<div class="checkoutMainContainer">
    <div class="payment"></div>
    <form class="checkoutformContainer">
        <div class="checkoutTitle">
            <h4>Cart Item</h4>
        </div>
        <div class="cartItem" style="width:80rem">
            <% @o.order_items.each do |oi| %>
            <!-- Output all orders have been selected. -->
            <ul>
                <%= oi.menu_item.name %> <%= oi.qty %>
            </ul>
            <% end %>
            <!-- Total Price -->
            <ul>
                <h5>Total: <%= number_to_currency(@total) %></h5>
            </ul>
            <ul>
                <a href="<%= new_order_path %>" class="btn btn-primary">Back To Order</a>
                <a href="<%= new_payment_path(order_id: @o.hash_id) %>" class="btn btn-primary" data-remote="true">Proceed to payment</a>
            </ul>
        </div>
    </form>
</div>