<!DOCTYPE html>
<html>
  <head>
    <title>Eatnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path('manifest.json') %>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= asset_path('icons/icon-512x512.png') %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%= asset_path 'bootstrap.min.css' %>">
    <script src="<%= asset_path 'bootstrap.min.js' %>"></script>

    <!-- Shards -->
    <link rel="stylesheet" href="<%= asset_path 'shards.min.css' %>">
    <script src="<%= asset_path 'shards.min.js' %>"></script>

    <!-- Hammer JS for touch behavior -->
    <script src="<%= asset_path 'hammer.min.js' %>"></script>
    <script src="<%= asset_path 'jquery.hammer.js' %>"></script>
  </head>
  <body>
    <!-- Don't load navbar on Devise views -->
    <% if !current_class?('users') %>
      <%= render 'navigation/navbar' %>
    <% end %>

    <%= yield %>

    <!-- Modal for payment -->
    <div class="modal fade" id="makePayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Amount to pay</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_tag payment_index_path, method: :post, id:"pay" do %>
            <div class="modal-body">
              <span class="payment-errors"></span>

              <div class="form-group">
                <label>Card Number</label>
                <span class="badge badge-light float-right">
                  Find test card info
                  <a href="https://stripe.com/docs/testing#cards" target="_blank">here</a>.
                </span>
                <input type="text" size="20" data-stripe="number" class="form-control">
              </div>

              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="d-block">Expiration (MM/YY)</label>
                        <input type="text" size="2" data-stripe="exp_month" class="form-control w-auto d-inline-block">
                        <span> / </span>
                        <input type="text" size="2" data-stripe="exp_year" class="form-control w-auto d-inline-block">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>CVC</label>
                      <input type="text" size="4" data-stripe="cvc" class="form-control">
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Billing ZIP Code</label>
                      <input type="text" size="6" data-stripe="address_zip" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag :amt, "Amount (SGD)" %>
                      <%= text_field_tag :amt, "9.99", class: "form-control" %>
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag "Proceed to checkout", class: "btn btn-secondary submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v2/"></script>
    <script>
      $(function() {
        Stripe.setPublishableKey("pk_test_4pr3WUC23dR5KqMMw6vpJw0z");

        var $form = $('#pay');
        $form.submit(function(event) {
          // Disable the submit button to prevent repeated clicks:
          $form.find('.submit').prop('disabled', true);

          // Request a token from Stripe:
          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from being submitted:
          return false;
        });
      });

      function stripeResponseHandler(status, response) {
        // Grab the form:
        var $form = $('#pay');

        if (response.error) { // Problem!

          // Show the errors on the form:
          $form.find('.payment-errors').text(response.error.message);
          $form.find('.submit').prop('disabled', false); // Re-enable submission

        } else { // Token was created!

          // Get the token ID:
          var token = response.id;

          // Insert the token ID into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken">').val(token));

          // Submit the form:
          $form.get(0).submit();
        }
      };
    </script>
  </body>
</html>
