<!DOCTYPE html>
<html>
  <head>
    <title>Eatnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path('manifest.json') %>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= asset_path('icons/icon-512x512.png') %>">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Stripe.js -->
    <script src="https://js.stripe.com/v2/"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="<%= asset_path 'jquery-3.3.1.js' %>"></script>

    <!-- Boostrap -->
    <link rel="stylesheet" type="text/css" href="<%= asset_path 'bootstrap.min.css' %>">
    <script type="text/javascript" src="<%= asset_path 'bootstrap.min.js' %>"></script>

    <!-- Shards -->
    <link rel="stylesheet" type="text/css" href="<%= asset_path 'shards.min.css' %>">
    <script type="text/javascript" src="<%= asset_path 'shards.min.js' %>"></script>

    <!-- hammer.js -->
    <script type="text/javascript" src="<%= asset_path 'hammer.min.js' %>"></script>
    <script type="text/javascript" src="<%= asset_path 'jquery.hammer.min.js' %>"></script>
  </head>
  <body>
    <!-- Flash messages -->
    <% flash.each do |key, value| %>
      <div class="alert <%= flash_class(key) %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
          <div class="value">
            <%= value %>
          </div>
      </div>
    <% end %>

    <!-- Don't load navbar on Devise views -->
    <% if !current_class?('users') %>
      <%= render 'navigation/navbar' %>
    <% end %>

    <%= yield %>

    <!-- Always render notify modal for users (minus devise) -->
    <% if current_user.type != 'Staff' %>
      <%= render partial: 'order/notify' %>
    <% end %>
  </body>
</html>
