<!DOCTYPE html>
<html>
  <head>
    <title>Eatnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path('manifest.json.erb') %>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= asset_path('icons/icon-512x512.png') %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
