<!DOCTYPE html>
<html>
  <head>
    <title>Eatnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path('manifest.json.erb') %>">
    <link rel="apple-touch-icon" sizes="512x512" href="<%= asset_path('icons/icon-512x512.png') %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery -->
    <link rel="stylesheet" href="<%= asset_path 'jquery-3.3.1.min.js' %>">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%= asset_path 'bootstrap.min.css' %>">
    <script src="<%= asset_path 'bootstrap.min.js' %>"></script>

    <!-- Shards -->
    <link rel="stylesheet" href="<%= asset_path 'shards.min.css' %>">
    <script src="<%= asset_path 'shards.min.js' %>"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
